@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Odibee+Sans&display=swap');

body {
    background-color: #F1F0E8;
    font-size: 20px;
    font-family: "Odibee Sans", sans-serif;
}
.btn {
    background-color: #DEAA79;
    border-color: #DEAA79;
    color: #493628;
    font-weight: bold;
    padding: 10px 12px;
    font-size: 20px;
    margin-bottom: 4px;
}
.progress {
    height: 40px;
    margin-bottom: 4px;
    background-color: #B1C29E;
    color: white;
    font-size: 20px;
    text-align: center;
}
.progress-bar {
    background-color: #659287;
}
.far-from-ready {
    padding-left: 10px;
    padding-top: 6px;
    font-size: 20px;
}
table tr td {
    padding: 0;
    border: none;
    background: none;
}
table tr td:first-child {
    padding-right: 5px;
    font-weight: bold;
    width: 50px;
    text-align: center;
}