@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Odibee+Sans&display=swap');

body {
    background-color: #F1F0E8;
    font-size: 20px;
    font-family: "Odibee Sans", sans-serif;
}
/* Default Button Style */
.btn {
    background-color: #DEAA79;
    border-color: #DEAA79;
    color: #493628;
    padding: 6px 7px;
    font-size: 14px;
    margin-bottom: 4px;
    transition: background-color 0.3s, border-color 0.3s; /* Smooth color transitions */
}
.btn-lg {
    padding: 9px 13px;
    font-size: 20px;
}
.btn.disabled {
    background-color: #dddddd;
    border-color: #dddddd;
    color: #111111;
}

/* Button Hover */
.btn:hover {
    background-color: #D89A6B;
    border-color: #D89A6B;
    color: #493628;
}

/* Button Active State */
.btn:active,
.btn:focus {
    background-color: #C47A4F; /* Change background color when active */
    border-color: #C47A4F;    /* Change border color when active */
    color: white;            /* Optional: Change text color when active */
}

/* For Toggle Buttons (when `aria-pressed` is true) */
.btn[aria-pressed="true"] {
    background-color: #A6633C; /* Darker shade for toggled state */
    border-color: #A6633C;
    color: white;
}
.progress {
    height: 40px;
    margin-bottom: 4px;
    background-color: #B1C29E;
    color: white;
    font-size: 20px;
    text-align: center;
}
.progress-bar {
    background-color: #659287;
}
.progress-bar-missing {
    background-color: #e77128;
}
.far-from-ready {
    padding-left: 10px;
    padding-top: 6px;
    font-size: 20px;
}
table tr td {
    padding: 0;
    border: none;
    background: none;
}
table tr td:first-child {
    padding-right: 5px;
    font-weight: bold;
    width: 40px;
    text-align: center;
}
code {
    display: block;
    font-size: 12px;
    padding: 10px;
    cursor: pointer;
}
#sport-type-actions .btn {
    font-size: 18px;
    padding: 1px 6px;
    margin-bottom: 2px;
}
.no-wrap {
    white-space: nowrap;
}
#sport-type-actions {
    overflow-x: scroll;
}
#sport-type-actions .btn-group .btn:nth-child(2) {
    background-color: #ffdabe;
    border-color: #ffdabe;

}
tr.exercises-group td {
    font-size: 26px;
    padding-top: 17px;
    padding-bottom: 0;
    padding-left: 15px;
}
tr.exercises-done td {
    padding-top: 0;
    padding-bottom: 0;
}
tr.exercises-done td:first-child {
    padding-left: 50px;
}
table.table.table-year-progress tr td {
    background-color: #e3e2d7;
    color: #333;
}

table.table.table-year-progress tr.exercises-group td {
    font-size: 24px;
    padding-top: 17px;
    padding-bottom: 0;
    padding-left: 25px;
}