@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Odibee+Sans&display=swap');

body {
    background-color: #F1F0E8;
    font-size: 20px;
    font-family: "Odibee Sans", sans-serif;
}
/* Default Button Style */
.btn {
    background-color: #DEAA79;
    border-color: #DEAA79;
    color: #493628;
    padding: 6px 7px;
    font-size: 14px;
    margin-bottom: 4px;
    transition: background-color 0.3s, border-color 0.3s; /* Smooth color transitions */
}

/* Button Hover */
.btn:hover {
    background-color: #D89A6B;
    border-color: #D89A6B;
    color: #493628;
}

/* Button Active State */
.btn:active,
.btn:focus {
    background-color: #C47A4F; /* Change background color when active */
    border-color: #C47A4F;    /* Change border color when active */
    color: white;            /* Optional: Change text color when active */
}

/* For Toggle Buttons (when `aria-pressed` is true) */
.btn[aria-pressed="true"] {
    background-color: #A6633C; /* Darker shade for toggled state */
    border-color: #A6633C;
    color: white;
}
.progress {
    height: 40px;
    margin-bottom: 4px;
    background-color: #B1C29E;
    color: white;
    font-size: 20px;
    text-align: center;
}
.progress-bar {
    background-color: #659287;
}
.far-from-ready {
    padding-left: 10px;
    padding-top: 6px;
    font-size: 20px;
}
table tr td {
    padding: 0;
    border: none;
    background: none;
}
table tr td:first-child {
    padding-right: 5px;
    font-weight: bold;
    width: 50px;
    text-align: center;
}