ErrorDocument 403 /403.html

# Disable Directory listing
Options -Indexes

# Allow access to .png files in /assets/_tmp_images
<FilesMatch "\.png$">
    <If "%{REQUEST_URI} =~ m#^/assets/_tmp_images/#">
        Require all granted
    </If>
</FilesMatch>

# Allow access to .json files in /assets/_tmp_metadata
<FilesMatch "\.json$">
    <If "%{REQUEST_URI} =~ m#^/assets/_tmp_metadata/#">
        Require all granted
    </If>
</FilesMatch>

# Block files which need to be hidden (adjusted to prevent conflicts)
<Files ~ "\.(env|config.js|md|gitignore|gitattributes|lock)$">
    Order allow,deny
    Deny from all
</Files>

RewriteEngine On
# Serve static files directly
RewriteRule \.(css|jpe?g|gif|png|js|ico)$ - [L]

# Force HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

# Pretty URLs
RewriteRule ^([a-z-]+)/?$ index.php?action=$1 [NC,L,QSA]
# More inclusive character set for filter
RewriteRule ^(filter)/([^/]+)/?$ index.php?action=$1&filter=$2 [NC,L,QSA]
RewriteRule ^(regen)/([0-9]+)/?$ index.php?action=$1&id=$2 [NC,L,QSA]
