
@font-face {
    font-family: 'downtown_streetregular';
    src: url('/assets/fonts/downtown_street-webfont.eot');
    src: url('/assets/fonts/downtown_street-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/downtown_street-webfont.woff2') format('woff2'),
    url('/assets/fonts/downtown_street-webfont.woff') format('woff'),
    url('/assets/fonts/downtown_street-webfont.ttf') format('truetype'),
    url('/assets/fonts/downtown_street-webfont.svg#downtown_streetregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

a {
    text-decoration: none;
}

h1 {
    font-family: 'downtown_streetregular', serif;
    color: #3642BD;
    font-size: 124px;
    text-align: center;
}

h2 {
    font-family: 'downtown_streetregular', serif;
    color: #B30A21;
    font-size: 72px;
    text-align: center;
}

.card-header {
    font-family: 'downtown_streetregular', serif;
    font-size: 40px;
}

.card, .card-header, .card-body, .card-footer {
    border-radius: 0;
    background: none;
    border: none;
    text-align: center;
}

.card-body img {
    border-radius: 10px;
}

.badge-large {
    font-size: 18px;
    margin: 2px 5px;
}