
@font-face {
    font-family: 'lasereyes';
    src: url('/assets/fonts/lasercorps-webfont.eot');
    src: url('/assets/fonts/lasercorps-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/lasercorps-webfont.woff2') format('woff2'),
    url('/assets/fonts/lasercorps-webfont.woff') format('woff'),
    url('/assets/fonts/lasercorps-webfont.ttf') format('truetype'),
    url('/assets/fonts/lasercorps-webfont.svg#lasereyes') format('svg');
    font-weight: normal;
    font-style: normal;

}

main {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2; /* Ensure content is above the overlay */
}
body {
    position: relative;
    text-align: center;
    background-image: url('../images/bg.png');
    background-size: auto;
    background-position: top center;
    background-repeat: repeat;
    width: 100%;
    min-height: 100vh;
    color: black;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    z-index: 1;
}

h1 {
    font-family: 'lasereyes', serif;
    color: #7C018C;
    font-size: 100px;
}

h1 small {
    font-family: 'Arial', sans-serif;
    font-size: 40px;
}

@media (min-width: 768px) and (max-width: 991px) {

    h1 {
        font-size: 60px;
    }

    h1 small {
        font-family: 'Arial', sans-serif;
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

}

@media (max-width: 767px) {

    h1 {
        font-size: 40px;
    }

    h1 small {
        font-family: 'Arial', sans-serif;
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }
}

p {
    font-weight: normal;
    font-size: 18px;
    color: black;
}

.btn.btn-primary {
    background-color: #7C018C;
    border-color: #7C018C;
    font-size: 20px;
}


h2 {
    font-size: 24px;
}

h3 {
    font-family: 'lasereyes', serif;
    font-size: 54px;
    color: black;
}

.card {
    background-color: rgba(255, 255, 255, 0.90);
}

.card-links img {
    height: 80px;
}

.card-links img.dexscreener {
    margin-right: 10px;
}

.card-links img.dextools {
    height: 65px;
    margin-right: 10px;
}

.card-links img.discord {
    height: 65px;
    margin-left: 13px;
}

.card-links img.telegram {
    height: 70px;
    margin-left: 10px;
}

.card-links img.x {

}

.card-links a {
    text-decoration: none;
}

.col-contract {
    font-size: 36px;
    color: white;
    margin: 30px 0 50px 0;
    padding: 0 20px;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
.col-contract a {
    color: white;
    text-decoration: none;
}

footer {
    background: black;
    margin-top: 0;
    padding: 50px 0 35px 0;
}

footer a {
    color: white;
}

footer p {
    font-size: 16px;
    color: white;
}

.container-disclaimer {
    background-color: rgba(0, 0, 0, 0.8);
}
.container-disclaimer p {
    color: white;
    font-size: 16px;
}

.card {
    border-radius: 15px;
    padding: 10px 0;
    box-shadow: none;
    border: none;
}

.card.card-header {
    border-radius: 0 0 15px 15px;
    padding-top: 0;
}

img.logo {
    border-radius: 15px;
}

.col-meme {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.col-meme .img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.row-memes .col-memes {
    margin-bottom: 30px;
}