
@font-face {
    font-family: 'downtown_streetregular';
    src: url('/assets/fonts/downtown_street-webfont.eot');
    src: url('/assets/fonts/downtown_street-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/downtown_street-webfont.woff2') format('woff2'),
    url('/assets/fonts/downtown_street-webfont.woff') format('woff'),
    url('/assets/fonts/downtown_street-webfont.ttf') format('truetype'),
    url('/assets/fonts/downtown_street-webfont.svg#downtown_streetregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

a {
    text-decoration: none;
}

h1 {
    font-family: 'downtown_streetregular', serif;
    color: #3642BD;
    font-size: 124px;
    text-align: center;
}

h2 {
    font-family: 'downtown_streetregular', serif;
    color: #B30A21;
    font-size: 72px;
    text-align: center;
}

h3 {
    font-family: 'downtown_streetregular', serif;
    text-align: center;
    font-size: 48px;
}

.badge {
    color: #111111;
    font-size: 14px;
    font-weight: normal;
    padding: 4px 8px;
    border-radius: 4px;
    margin: 2px 0;
}
.badge-selected {
    background-color: #2258CA;
    color: #ffffff;
    font-weight: bold;
}

.card-header {
    font-family: 'downtown_streetregular', serif;
    font-size: 40px;
}

.card, .card-header, .card-body, .card-footer {
    border-radius: 0;
    background: none;
    border: none;
    text-align: center;
}

.card-body img {
    border-radius: 10px;
}

.badge-large {
    font-size: 18px;
    margin: 2px 5px;
}

@media (max-width: 576px) {
    h1 {
        font-size: 46px;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 58px;
    }

    h2 {
        font-size: 42px;
    }

    h3 {
        font-size: 32px;
    }
}

